<!DOCTYPE html>
<html>
<head>
    <title>TODO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous">
    </script>
    <script src="/assets/todo-list.js"></script>
    <style>
        li{
            padding: 10px;
            font-size: 20px;
            cursor: pointer;
        }
        li:hover{
            text-decoration: line-through;
            background: rgba(0,0,0,0.2);
        }
    </style>
</head>
<body>
<div class="jumbotron" style="margin: 30px;padding: 20px">
    <h2>Welcome to TODO apps</h2>
    <form action="/todo" method="POST">
        <h3>New Task</h3>
        <div class="form-group">
            Task: <input type="text" name="item" placeholder="Add new item.." required/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info">Add Item</button>
        </div>
    </form>
    <hr/>
    <h3>Task List</h3>
    <ul>
       <% for(var i=0;i < todos.length; i++){ %>
        <li><%= todos[i].item %></li>
        <% } %>
    </ul>
</div>
</body>
</html>